* {
    margin: 0;
    padding: 0;
}

.corpo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    height: 50px;
    background-color: rgb(116, 0, 116);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.cabecalho a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: cursive;
}

.sessao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 0;
    height: 100%;
}

.div1 {
    height: 100%;
    width: 33.33%;
    display: flex;
}

.div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div2 {
    height: 100%;
    background-color: rgb(225, 118, 223);
    width: 33.33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div2 p {
    color: white;
    font-size: 18px;
    font-family: cursive;
}

.div3 {
    height: 100%;
    width: 33.33%;
    display: flex;
}

.div3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rodape {
    height: 50px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.rodape p {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: cursive;
}

/* RESPONSIVIDADE */

@media (min-width: 768px) {
    .sessao {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .div1, .div2, .div3 {
        width: 33.33%;
    }
}

@media (max-width: 391px) {
    .cabecalho {
        flex-direction: column;
        height: 100px;
    }

    .cabecalho a {
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .sessao {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .div1, .div2, .div3 {
        width: 100%;
    }
}
